header .navbar-brand {
  font-family: "Archivo Black", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 80vw;
  margin-left: 1rem;
}

.table thead th {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

section {
  width: calc(100% - 15vw);
  overflow-y: scroll;
}

footer {
  text-align: center;
  height: 50px;
  width: auto;
}

footer p {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 10px;
}